<h1>
  Tik Tak Toe in Angular by Nguyen Xuan linh
</h1>
<table>
  <tr>
    <td class="cell" (click)="turnClick($event)" id="0">{{displayCells[0]}}</td>
    <td class="cell" (click)="turnClick($event)" id="1">{{displayCells[1]}}</td>
    <td class="cell" (click)="turnClick($event)" id="2">{{displayCells[2]}}</td>
  </tr>
  <tr>
    <td class="cell" (click)="turnClick($event)" id="3">{{displayCells[3]}}</td>
    <td class="cell" (click)="turnClick($event)" id="4">{{displayCells[4]}}</td>
    <td class="cell" (click)="turnClick($event)" id="5">{{displayCells[5]}}</td>
  </tr>
  <tr>
    <td class="cell" (click)="turnClick($event)" id="6">{{displayCells[6]}}</td>
    <td class="cell" (click)="turnClick($event)" id="7">{{displayCells[7]}}</td>
    <td class="cell" (click)="turnClick($event)" id="8">{{displayCells[8]}}</td>
  </tr>
</table>

<h1 *ngIf="gameOver">{{message}}</h1>
<button class="start-btn" (click)="startGame()">Start Game</button>
